.settings{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 100;
    transform: translateX(100%);
    transition: 0.5s;
}

.settings h1{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2em;
    color: #d3ae4a;
}
.buttonSettings{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70px;
    background-color: black;
    border-top: 3px solid #d3ae4a;
    color: #d3ae4a;
    font-size: 30px;
    padding: 0.5em;
}

.last{
    border-bottom:3px solid #d3ae4a ;
}

.closeSettings{
    position: absolute;
    top: 0;
    right: 0;
    background-color: black;
}

.closeSettings svg{
    color: #d3ae4a;
    padding: 0.3em;
    font-size: 30px;
}

@media(max-width:374px){
    .buttonSettings{
        font-size: 23px;
    }
    .settings h1{
        font-size: 23px;
    }
    
}